body{
    background: url("pictures/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
.wrapper{
    min-width: 320px;
}
header{
    height: 200px;
    width: 100%;
}
.head{
    padding-top: 50px;
    font-size: 60px;
    text-align: center;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: gray;
    color: white;
    text-align: center;
}
.output{
    color: white;
}
.checkboxes{
    padding-top: 50px;
    position: relative;
    margin-left: 45%;
    padding-bottom: 50px;
}

.container {
    color: green;
    display: block;
    position: relative;
    padding-left: 55px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 45px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.chartContainer{
    height: 370px;
    margin-left: 60px;
    margin-right: 60px;

}


.container input {

    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    background-color: #eee;
}


.container:hover input ~ .checkmark {
    background-color: #ccc;
}


.container input:checked ~ .checkmark {
    background-color: #2196F3;
}


.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


.container input:checked ~ .checkmark:after {
    display: block;
}


.container .checkmark:after {
    left: 15px;
    top: 0;
    width: 20px;
    height: 40px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.button,.component{

    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 80px;

    width:100%;
    display: flex;
    justify-content: center;
}
.component[id="rangeD"],.component[id="numD"]{
    display: none;
}
.text{
    color: white;
}.row{
    width: 100%;
 }